
.container-flex{
    display:flex;
    width: 100%;
}

.main{
    flex-wrap: wrap;
}

.nav{
    font-size: 25px;
    justify-content: flex-end;
    gap: 20px;
    padding-bottom: 10px;
    align-items: center;

    && .nav-menu{
        justify-content: end;
        padding-top: 30px;
    }

        && a{
        font-size: 15px;
        text-decoration: none;
        padding: 0 20px;
    }

    && .nav-icon{
        background-image: url(../images/logo.jpg);
        background-size: cover;
        height: 100px;
        width: 100px;
        margin-left: 20px;
    }
}

.banner{
    background-image: url(../images/forestbackground.jpg);
    background-size: cover;
    font-weight: 500px;
    justify-content:flex-start;    
    min-height: 200px;
    width: 100%;
    padding: 100px 50px;
    background-repeat: repeat-y;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:aqua;
    word-spacing: 10px;
    
}
.messages{
    flex-direction: column;
    min-height: 25em;
    margin-top: 15px;
    align-items: center;
    flex-wrap: wrap;

    && .messages-title{
        font-size: larger;
        font-weight: bold;
    }

    && .messages-content{
    width: 60em;
    padding: 0 15px;
    text-align: center;
    }
}

.footer{
    display: flex;
    margin-left: 10px;
    font-weight:bold;
    padding-top: 10px;
}