.maincontainer{ 
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    }
body {
    background-color: rgb(235, 136, 70);
}   
.mainlogocontainer{
        width: 100%;
        background-color: rgb(136, 105, 223);
        font-size: 50px;
}
.logocontainer{
        background-color: rgb(96, 16, 226);
        width: 50%;
            }
.navcontainer{
        width: 50%;
        display:flex;
        flex-direction:row;
        }
.bannercontainer{
        background-color: rgb(224, 61, 75);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        width: 100%;
        font-size: 70px;
        align-content: center;
        }
.contentcontainer{
        width: 100%;
        background-color: blue;
        font-size:50px;
        }
.foot{
    background-color: aqua;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav.div:hover{
    background-color: rgb(95, 228, 18);
}