#main{ 
    background-color: aliceblue;
    color: azure;
    }
body{
    background-image: none;
    background-color: aquamarine;
    }   
#logo{
        background: local;
     }   
#banner{
        background-color: aqua;
        }
#loriem{
        background-color: blue;
        }