body {
    background-color: rgb(9, 220, 83);
}   
.footer{
    background-color: aqua;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    font-size: large;
    padding: 10px;
}
.banners{
    background-color: rgb(0, 204, 255);
    text-align-last: center;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:50px;
    border-color: rgb(235, 152, 19);
    border-radius: 20px;
    padding-top: 70px;
    border: 3px solid;
    }
.message{
    background-color: rgb(245, 250, 251);
    text-align: center;
    height: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
    border-color: rgb(197, 15, 33);
    border-radius: 20px;
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 50px;
    padding-right: 30px;
    border: 3px solid;
    }
.contactcontainer{
    background-color: rgb(202, 246, 9);
    border-radius: 20px;
    text-align: center;
    width: 50%;
    font-size: 30px;
    padding: 5px;  
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 3px solid;
}
.logocontainer{
    background-color: blueviolet;
    width: 50%;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    padding: 5px;
    float: right;
    border: 3px solid;
}
.contactcontainer li{
    display: inline-block;
    font-size: 20px;
    padding:px;
}
.mainlogocontainer{
    border-color: rgb(29, 11, 190);
    border-width: 50px;
    border: 3px solid;
    border-radius: 20px;
;
}

    
